:root {
    --base-font-size: 3rem;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--neutral-100, #F8F9FB);
}


.heading_text {
    color: var(--gray-700, #272D37);
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 115.385% */
    letter-spacing: -0.52px;
}

.heading_text {
    font-size: calc(var(--base-font-size) * 0.8); 
}

/* .bg_div {
    /* background: url('../images/bg_image.png'); */
 
.bg_image_position {
    position: absolute;
    top: -25px;
    left: 15px;
}

.box_div {
    border-radius: 10px;
    background: var(--base-white, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
    height: 200px;
    text-align: center;
    padding: 15px;
}

.price_text {
    color: #000;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 32.539px;
    /* 125.151% */
    letter-spacing: -0.26px;
}


.price_below_text {
    color: var(--gray-50, #5F6D7E);
    text-align: center;
    /* Text M/Medium */
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    /* 146.667% */
    letter-spacing: -0.1px;
}

.center_logo {
    position: absolute;
    bottom: -30px;
    right: -33px;
}

.heading_div_text {
    color: var(--gray-700, #272D37);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 144.444% */
    letter-spacing: -0.1px;
}

.email_text {
    border-radius: 6px 0px 0px 6px;
    border: 1px solid var(--neutral-700, #DAE0E6);
    background: var(--base-white, #FFF);
    height: 46px;
    padding: 12px 16px;
    
}

.submit_btn {
    border-radius: 0px 6px 6px 0px;
    background: var(--primary-600, #437EF7);
    padding: 12px 18px;
    height: 46px;
    color: var(--base-white, #FFF);
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    border: none;
    margin-left: -5px;
}

.padding_div {
    padding: 65px; 
}


.nav_elements {
    color: var(--gray-700, #272D37);
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    /* 146.667% */
    text-decoration: none;
    margin-left: 50px;
}

.nav_elements:hover {
    color: var(--gray-700, #272D37);
}


.sign_up_btn {
    color: var(--primary-600, #437EF7);
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    background: none;
    border: none;
}

.login_btn {
    border-radius: 6px;
    background: var(--primary-600, #437EF7);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
    color: var(--base-white, #FFF);
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    /* 146.667% */
    border: none;
    padding: 7px 15px;
}


.icon_div {
    border-radius: 30px;
    background: var(--primary-25, #F5FAFF);
    margin-right: 15px;
}


.feature_heading {
    color: var(--gray-700, #272D37);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 125% */
    letter-spacing: -0.64px;
}


.feature_heading_text {
    color: var(--gray-50, #5F6D7E);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.1px;
}


.heading_container_text {
    color: var(--gray-700, #272D37);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
    /* 131.25% */
    letter-spacing: -0.32px;
}

.heading_container_grey {
    color: var(--gray-50, #5F6D7E);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.1px;
}

.points_text {
    color: var(--gray-50, #5F6D7E);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.1px;
}


.start_now_btn {
    border-radius: 6px;
    padding: 12px 18px;
    background: var(--primary-600, #437EF7);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
    color: var(--base-white, #FFF);
    border: none;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    /* 146.667% */
}

.testimonial_heading {
    color: var(--base-white, #FFF);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 125% */
    letter-spacing: -0.64px;
}

.testimonial_heading_text {
    color: var(--primary-200, #B1CCFB);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.1px;
}

.shadow_div {
    border-radius: 10px;
    background: var(--primary-700, #3971E7);
    padding: 16px;
}

.shadow_div_text {
    color: var(--base-white, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.1px;
}

.ceo_name {
    color: var(--base-white, #FFF);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    /* 146.667% */
    letter-spacing: -0.1px;
}

.ceo {
    color: var(--primary-200, #B1CCFB);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: -0.1px;
    margin-left: 5%;
}


.read_more {
    color: var(--base-white, #FFF);
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    /* 146.667% */
    text-decoration: none;
}

.view_more {
    padding: 12px 18px;
    border-radius: 6px;
    background: var(--primary-600, #437EF7);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
    color: var(--base-white, #FFF);
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    /* 146.667% */
    border: none;
}

.blog_post_heading {
    color: var(--gray-700, #272D37);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 125% */
    letter-spacing: -0.64px;
}

.blog_post_text {
    color: var(--gray-50, #5F6D7E);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.1px;
}

.blog_post_col_heading {
    color: var(--gray-700, #272D37);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    /* 136.364% */
    letter-spacing: -0.22px;
}


.blog_post_col_text {
    color: var(--gray-50, #4F5B63);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.1px;
}

.blog_post_col_date {
    color: var(--gray-50, #4F5B63);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.1px;
}

.blue_text {
    color: var(--primary-600, #437EF7);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: -0.1px;
}

.welcome_text {
    color: var(--gray-700, #272D37);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
    /* 131.25% */
    letter-spacing: -0.32px;
}

.email_input {
    padding: 12px 16px;
    border-radius: 6px 0px 0px 6px;
    border: 1px solid var(--neutral-700, #DAE0E6);
    background: var(--base-white, #FFF);
    width: 45%;
}

.email_submit_btn {
    border-radius: 0px 6px 6px 0px;
    background: var(--primary-600, #437EF7);
    padding: 12px 18px;
    color: var(--base-white, #FFF);
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    /* 146.667% */
    border: 1px solid var(--primary-600, #437EF7);
    margin-left: -5px;
}

.footer_link {
    color: var(--neutral-800, #A5ACBA);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.1px;
    text-decoration: none;
}

.footer_link_div {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}


.ownership_text {
    color: var(--neutral-800, #A5ACBA);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.1px;
}

.footer_end_links {
    display: flex;
    justify-content: space-evenly;
}

.nav-link {
    color: #000 !important;
    font-weight: 600;
}


.row_inline{
    padding: 10px 50px !important;
}


.icon_inline{
    margin-top: 13px !important;
}

.check_inline{
    margin-right: 10px !important;
}

.section_inline{
    background: var(--primary-900, #2B63D9);
}

.ceo_name {
    margin-left: 5%;
}

.left_thirty{
    margin-left: 30% !important;
}

.line_css{
    height:  2px !important;
    background: white ;
}

.footer_inline{
    background: var(--gray-950, #151B28) !important;
    padding: 32px 0px !important; 
}

.left_fourty{
    margin-left: 15% !important;
}
.lefty_fourty{
    margin-left: 10% !important;
}
